.principal {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.secundaria {

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}